/* You can add global styles to this file, and also import other style files */

html,
body {
   height: 100%;
   margin: 0;
   font-family: Roboto, "Helvetica Neue", sans-serif;
   background: black fixed url("https://wallpaperaccess.com/full/5056899.jpg");
   background-size: cover;

   opacity: 95%;
}
